# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Binaries
*.exe
*.out
*.app
*.spv

# Visual studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
obj

# Folders
vendor
1.2.162.0
assets
scripts
bin
build
.xmake